.signup__field {
    margin: 15px;
    padding-right: 40px;
}

/* ========================media queries =============================================*/

@media screen and (max-width:757px) {
    .signup {
        width: 400px;
        padding: 20px;
    }

    .signup__field {
        width: 300px;

    }

    .form__switchButton {
        padding: 1rem;
    }
}