.suggestions{
    border: 1px solid yellowgreen;
    flex: 0.40;
   height: 100vh;
   margin-top: 4rem;
}
.suggestions__header{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.suggestion__imageBox{
    display: flex;
    justify-content: center;
}
.suggestion__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;

}
.suggestion__next{
    color: gray;
}
.suggestion__switch{
    text-transform: lowercase;
}