.suggestions {
    flex: 0.41;
    height: 100%;
    /* margin-top: 6rem; */
    padding: 1rem;
}

.suggestions__header {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.suggestion__imageBox {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.suggestion__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;

}

.suggestion__next {
    color: gray;
}

.suggestion__switch {
    text-decoration: none;
    color: rgb(71, 71, 233);
}

.suggestions__header {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion__text {
    color: gray;
    font-size: 16px;
}

.suggested__link {
    text-decoration: none;
    color: rgb(71, 71, 233);
}

.suggestion__ProfileAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.suggestions__footer {
    margin-top: 4rem;
}

/* ========================media queries =============================================*/

/* @media screen and (max-width:769px) {
    .suggestions{
        display: none;
    }
} */