.post{
    /* background-color: white; */
    max-width: 500px;
    /* border: 1px solid lightgray; */
    margin-bottom: 45px;
   
}
.post__middleDot{
    margin: 5px;
    color: gray;
}
.post__timestamp{
    color: gray;
}
.post__image{
    width: 100%;
    object-fit: contain;
    /* border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
    border-radius: 5px;
}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post__avatar{
margin-right: 10px;
cursor:pointer;
}
.post__text{
   word-wrap: break-word; 
}

.post__headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__actionIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.post__deleteIcon{
margin: .8rem;
font-size: 28px;
background: #fff;
color: red;
cursor: pointer;
/* border: 1px solid lightgray; */
transition: background 4s ease-in-out 2s;
}
.post__editIcon{
margin: .8rem;
font-size: 28px;
color: rgb(31, 43, 219);
cursor: pointer;
/* border: 1px solid lightgray; */
transition: background-color  1s;
}
.post__deleteIcon:hover{
    background: lightgray;
}
.post__editIcon:hover{
    background: lightgray;
    /* opacity: 0.8; */
}