.post{
    /* background-color: white; */
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
   
}
.post__middleDot{
    margin: 5px;
    color: gray;
}
.post__timestamp{
    color: gray;
}
.post__image{
    width: 100%;
    object-fit: contain;
    /* border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
    border-radius: 5px;
}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post__avatar{
margin-right: 10px;
cursor:pointer;
}
.post__text{
   word-wrap: break-word; 
}

.post__headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__actionIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.post__deleteIcon{
margin: .3rem;
background: #fff;
color: gray;
cursor: pointer;
/* border: 1px solid lightgray; */
transition: background 4s ease-in-out 2s;
}
.post__editIcon{
margin: .3rem;
color: rgb(10, 10, 10);
cursor: pointer;
/* border: 1px solid lightgray; */
transition: background-color  1s;
}
.post__deleteIcon:hover{
    background: lightgray;
}
.post__editIcon:hover{
    background: lightgray;
    /* opacity: 0.8; */
}

.post__reactions{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
height: 100%;
margin: 0;
}
.post__reactionsHeader{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
}
.post__reactionType{
margin: 5px;
cursor: pointer;
}
.post__reactionIconSelected{
    color: red;
}
.post__reactionCount{
    margin: 3px;
}
.post__readComments{
    width: 100%;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.post__commentText{
    border-bottom: 1px solid lightgray;
    outline: none;
}
.post__comment{
word-wrap: break-word;
font-size: 15px; 
}

.post__commentBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word; 
}
.post__commenter{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post__commentAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.3rem;
}
.post__avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
/* ========================media queries =============================================*/

@media screen and (max-width:757px) {
  .post{
    margin-top: 1rem;
    }

    /* .post__image{
        width: 250px;
        object-fit: contain;
    
        border-radius: 5px;
    }  */
}