.login__field{
    margin: 15px;
}

/* ========================media queries =============================================*/

@media screen and (max-width:757px) {
    .login__field{
        width: 300px;
    }
   .form__switchButton{
    padding: 1rem;
   }
}