* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  height: 100%;


}

.app__suggestionBox {
  flex: 0.40;
  height: 0vh;
  margin: 1rem .5rem;
}

.app__signInNotice {
  margin-top: 2rem;
  width: 250px;
}

.app__box {
  flex: 0.60;
  margin-left: 10rem;
}

.app__container {
  /* margin-left: 8rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__header {
  background-color: white;
  object-fit: contain;
  margin-left: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.app__post {
  padding: 20px;
}

.form__switchButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__signInNotice {
  margin: 1rem;
}

input {
  border: 1px solid #fafafa;
}

.app__makePost {
  margin-top: 4rem;
}
.app__suggestionBox{
  display: flex;
 

}
.app__login{
  margin-top: 1rem;
  border-radius: 10px;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 10px;
}
.app__loginHeader{
  object-fit: contain;
  width: 80%;
  margin-left: 20px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
/* ========================media queries =============================================*/

@media screen and (max-width:757px) {
  .app {
  flex-direction: column;
  width: 100%;
  height: 100%;
    align-items: center;

  }

  .app__box {
    margin: 0rem;
  }


  .suggestions {
    display: none;
  }
  .app__suggestionBox{
    display: none;
  }
}

/* 
@media screen and (max-width:1100px) {
  .app{
    flex-direction: column;
      
}
.app__box{
  flex: 0.60;
  margin-left: 10rem;
}
      .sidebar{
        height: 100px;
        width: 100%;
      border-top: 1px solid lightgray;
        position: relative;
    }
    .sidebar__icons{
      flex-direction: row;
    }
    .sidebar__iconBox{
      width: 70%;
      display: flex;
      justify-content: flex-start;
      margin: 0.3rem 0.3rem;
      padding: 0;
      cursor: pointer;
      border-radius: 10px;
    }
    .sidebar__icon{
margin: 0;
    }
    .sidebar__linkTitle{
      display: none;
    }
  .suggestions{
      
  }
} */