*{
    margin: 0;
  }

  .app{
background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    height: 100%;
    
     
  }
  .app__suggestionBox{
    flex: 0.40;
   height: 0vh;
   margin: 1rem .5rem;
  }
.app__signInNotice{
  margin-top: 2rem;
  width: 250px;
}
  .app__box{
    flex: 0.60;
    margin-left: 10rem;
  }
  .app__container{
    /* margin-left: 8rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app__header{
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom:  1px solid lightgray;
    display: flex;
    justify-content: space-between;
  }

  .app__post{
    padding: 20px;
  }
  .form__switchButton{
    display: flex;
  }

  .app__signInNotice{
    margin: 1rem;
  }
  input{
    border: 1px solid #fafafa;
  }

  .app__makePost{
    margin-top: 4rem;
  }
